.nav{
	margin: 50px 0 0 0;
}

.nav-logo{
	margin: 10px 0 0 0;
}

#images{
	margin: 30px 0 0 0;
	position: relative !important;
}

.bottom-column
{
    bottom: 0  !important;
}


.circleBase {
    border-radius: 50%;
}

.type1 {
	margin: 5px;
    width: 15px;
    height: 15px;
    background: black;
    float:left; 
}

.type1:hover {
  margin: 5px;
    width: 15px;
    height: 15px;
    background: #d8df23;
    float:left; 
}

.type2 {
  margin: 5px;
    width: 15px;
    height: 15px;
    background: #d8df23;
    float:left; 
}

.type2:hover {
  margin: 5px;
    width: 15px;
    height: 15px;
    background: black;
    float:left; 
}

.col-centered{
    float: none !important;
    margin: 0 auto;
}

.forest {
   background-image: url('girls_on_grass.png');
   background-color: white !important; 
}

h1{ 
  color: black !important;
}

.btn{
  background-color: #d8df23 !important;
}

.input-group{
  width: 500px;
}

.black{
  background-color: black !important;
}

.lato-font{
    font-family: 'Signika', sans-serif !important;
}

.footer{
  width: 100%;
  height: 1%;
  margin-bottom: 100px;
}

.white2{
  color: white !important;
}

#footer-logo{
  float: left;
  margin-left: 70px;
}

.chicks{
  background-image: url('img_module_three_op.png');
}

.center-email {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.center-dots {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 6%;
}

.linkedin{
  width: 34px;
  height: 34px;
  margin: 20px 0 20px 0;
  background: url('linkedin_black.png');
}

.linkedin{
  width: 34px;
  height: 34px;
  margin: 20px 0 20px 0;
  background: url('linkedin_black.png');
  float:left; 
}

.twitter{
  width: 34px;
  height: 34px;
  margin: 20px 0 20px 8px;
  background: url('twitter_black.png');
  float:left; 
}

.linkedin:hover{
  width: 34px;
  height: 34px;
  margin: 20px 0 20px 0;
  background: url('linkedin_green.png');
  float:left; 
}

.twitter:hover{
  width: 34px;
  height: 34px;
  margin: 20px 0 20px 8px;
  background: url('twitter_green.png');
  float:left; 
}

.icons{
  margin: 20px 0 20px 0;
  border-radius: 10px;
}

.vcenter {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.home-img{
  margin: 50px 0 50px 0;
}

#step{
  margin-left: 10%;
}

.app-logo{
  float: left;
  margin-left: 100px;
}

.hamburger{
  font-size: 3em;
  float: left;
  margin-left: 200px;
}

.language{
  font-size: 2em;
  float: right;
  margin-right: 200px;
}

.row-padding{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-left{
  text-align: left;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.down-arrow{
  margin:50px;
}

.title3{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.fuelling-btn{
  border-radius: 12px !important;
}

.rep{
  background-image: url("trame_01.png");
  background-repeat: repeat-y;
}

.forest3{
  background-image: url(img_background_woman.png);
}

input[type="text"], textarea {
  background-color : #d1d1d1;
  border-radius: 12px !important;
  margin: 10px; 
}

.app-store{
  margin-bottom: 35px;
  margin-top: 10px;
}

.footer-r{
  margin-right: 70px;
}

/* About */

.about{
  background-image: url(slider_01.png);
}

#about h1{
  margin-top: 300px;
  margin-left: 100px;
  margin-right: 100px;
}

.about-p{
  margin-left: 100px;
  margin-right: 100px;
}

.jump{
  background-image: url(teamwork_jump.png);
}

.sports{
  background-image: url(sports.png);
}

.products{
  background-image: url(products.png);
}

.green-highlight{
  background-color: #d8df23; 
  font-size: 2em; 
  margin: 5px;
}

.rabbit{
  margin-top: 20px;
}

.icons2{
  margin-top: 20px;
}

.how-title{
  margin-bottom: 40px;
  font-size: 4em;
}

.margin-top-50{
  margin-top: 30px;
  margin-bottom: 30px;
}

.shop-text{
  font-size: 2em;
  margin-bottom: 10px;
}

.foob{
  padding-top: 200px;
}

.no-bootstrap-margin{
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.no-text-align-center{
  text-align: left;
}

.round-10{
  border-radius: 13px !important;
}

.margin-right-200{
  margin-right: 200px;
} 

.padding-top-60{
  padding-top: 60px;
}

.margin-top-15{
  margin-top: 15px;
} 